@charset "UTF-8";
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
          transform: scale(10, 10);
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.3s;
  transition: opacity 0.5s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.5s;
  transition: transform 0.3s, opacity 0.5s, -webkit-transform 0.3s;
}

.ripple:active:after {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0.3;
  -webkit-transition: 0s;
  transition: 0s;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #72c05d;
}

a:hover {
  color: #efefef;
}

/*修改滚动条样式*/
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

::-webkit-scrollbar-corner {
  background: #179a16;
}

.declare-container {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  background-color: #2b3e50;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 4px 7px 0px #bbccdd;
          box-shadow: 0px 4px 7px 0px #bbccdd;
}

.declare-container .title {
  font-size: 20px;
  font-weight: 700;
  color: #e6db74;
}

.declare-container .version {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 10px;
}

.container {
  padding: 0 10px 10px 10px;
  width: 100%;
  height: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container > div {
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  padding: 10px;
}

.container > div p {
  word-wrap: break-word;
  word-break: break-all;
}

.container .left-container {
  width: 350px;
  height: 95%;
  overflow-y: scroll;
}

.container .left-container .title-container {
  width: 100%;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #bbccdd;
}

.container .left-container .router-list {
  cursor: pointer;
  margin: 1px 0;
  padding: 5px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .left-container .router-list:hover {
  background-color: #e9ecef;
}

.container .left-container .router-list .method {
  color: #28a745;
  font-weight: bold;
  padding: 2px 5px;
  background: #e5e9f0;
}

.container .center-container {
  width: 350px;
  height: 95%;
  padding: 10px;
  margin-left: 10px;
  background-color: #2b3e50;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.container .center-container .title {
  font-size: 15px;
  color: #f56c6c;
}

.container .center-container .tips {
  color: #f56c6c;
  font-size: 15px;
}

.container .center-container .url {
  color: #e6db74;
}

.container .center-container .mark {
  color: #72c05d;
}

.container .center-container .btn-container {
  padding: 10px 0;
  width: 100%;
  height: 100%;
}

.container .center-container .btn-container .download-container .button {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 1px #909399;
          box-shadow: 0 0 1px #909399;
  background-color: #909399;
  border: 1px solid #a2a7af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.container .center-container .btn-container .download-container .button:hover {
  background-color: #525558;
}

.container .center-container .btn-container .file {
  margin-top: 10px;
}

.container .right-container {
  width: auto;
  height: 92%;
  padding: 20px;
  -webkit-box-flex: 0.98;
      -ms-flex: 0.98;
          flex: 0.98;
  margin-left: 10px;
  background-color: #2b3e50;
  color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
}
